.help-list{

    .view-item{
        position: relative;
        overflow:hidden;
        box-sizing: border-box;
        @extend .bdb1;

        .h4{
          line-height: rem(60px);
          padding: rem(15px) rem(55px) rem(15px) rem(20px);
          box-sizing: border-box;
          @extend .bdb1;
        }

        .icon-enter{
            position: absolute;
            right: rem(20px);
            height:rem(88px);
            top: 0;
            transform: rotate(270deg);
        }

        .list-content{
          display: none;
          padding: 10px 20px;
          color: #a0a0a0;
          font-size: rem(28px);
          line-height: rem(35px);
          @extend .fl;
          p{

          }
        }

        &.active .list-content{
          display: block;


        }

        &.active .icon-enter{
          transform: rotate(90deg);
        }

    }
}
.phone-foot{
    position: absolute;
//  bottom: rem(90px);
    height: rem(100px);
    line-height: rem(100px);
    .phone{
        position: relative;
        display: inline-block;
        margin: rem(15px) auto;
        width: 50%;
        float: left;
        text-align: center;
        box-sizing: border-box;
        img{
            float: left;
        }
        .h4{
            float: left;
            line-height: rem(40px);
        }
    }
}
