.menu-list{
  @extend .bg-white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .menu-item{
    height: rem(88px);
    position: relative;
    @include flexbox-parent;

    .icon{
      height: rem(34px);
      margin: rem(27px) rem(20px);
      @extend .fl;

      &:after{
        @extend .clearfix-after;
      }
    }

    .item-body{
      @extend .fl;
      @include flexbox-child;
      line-height: rem(88px);
      border-bottom: 1px solid #ccc;

      &:after{
        @extend .clearfix-after;
      }

      .item-title{
        @extend .fz26;
        line-height: rem(88px);
      }

      .icon-enter{
        position: absolute;
        right: rem(20px);
        top:0;
        height: rem(88px);
      }
    }
  }

  a:last-child .item-body{
    border: none;
  }
}

.no-treatment-people{
  background: url("../img/no-people.png") center center no-repeat;
  position: absolute;
  top: rem(88px);
  left: 0;
  right: 0;
  bottom:rem(88px);
  background-size:rem(318px);
}

.full-btn{
  width: 100%;
  @extend .bg-white;
  @include vertical-center(rem(88px));
  color: $green;
  font-size: rem(34px);
  text-align: center;
  border: 1px solid #ccc;
}

.full-btn.grey{
  color:#a0a0a0;
}

.data-list{
  border-bottom: 1px solid #ccc;
  @extend .bg-white;

  .data-item>div{
    @extend .fl;

    &:after{
      @extend .clearfix-after;
    }
  }

  .data-item{
    @include vertical-center(rem(88px));
    border-top: 1px solid #ccc;
    font-size: rem(28px);
    @include flexbox-parent;

    .name{
      @extend .ml20;
      width: rem(140px);
    }

    .colon{
      @extend .mr20;
    }

    .value{
      @include flexbox-child;

      input{
        width: 100%;
        font-size: rem(28px);
      }

      span.checkbox {
        margin-top: rem(28px);
        float: left;
        line-height: .5rem;
      }

      span.checkbox:before {
        content: " ";
        width: .5rem;
        height: .5rem;
        line-height: .5rem;
        float: left;
        text-align: center;
        font-size: rem(24px);
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-right: 10px;
      }

      .value > span {
        float: left;
      }

      span.checkbox.active {
        color: #1bbc9c;
      }

      span.checkbox.active:before {
          border: 1px solid #1bbc9c;
          content: "√";
      }
    }
  }
}

.register-state-list{
  height: rem(80px);
  @include flexbox-parent;
  @extend .bg-white;

  .register-state-item{
    min-width: rem(84px);
    @include vertical-center(rem(80px));
    font-size: rem(28px);
    color: $grey;
    text-align: center;
    @extend .fl;
  }

  .register-state-item.active{
    color: $green;
    border-bottom: 5px solid $green;
    box-sizing: border-box;
  }
}

.already-evaluate.view-list{

  .icon-grey-heart  {
    @extend .icon-grey-heart2;
  }

  .tag-item{
    display: none;
  }

  .tag-item.orange{
    display: block;
  }
}

.view-doctor-details .doctor-evaluate.view-list {
  padding-bottom: 0;

  .view-item{
    margin: 0;
    height:rem(100px);

    .value{
      margin: 0 20px;
      border-bottom: 1px solid #ccc;

      .evaluate{
        top:rem(20px);
      }

      .evaluate-man{
        margin-top: rem(20px);
        @extend .fz28;
        text-align: right;
      }

      .evaluate-date{
        margin-top: rem(15px);
        @extend .fc-grey;
        font-size: rem(20px);
        line-height: rem(20px);
        text-align: right;
      }
    }
  }

  .view-item:last-child{
    .value{
      border-bottom: none;
    }
  }
}
.view-list{
  @extend .fl;
  @extend .bg-white;
  padding-bottom: rem(20px);
  position: relative;
  width: 100%;
  overflow: hidden;
  @extend .fz28;

  &:after{
    @extend .clearfix-after;
  }

  &>a{
    float: left;
  }

  .view-item{
    @extend .fl;
    width: 100%;
    @extend .fz28;
    margin-top:rem(20px);
    @include flexbox-parent;

    &:after{
      @extend .clearfix-after;
    }

    .name{
      width: rem(140px);
      padding-left: rem(20px);
      color:$grey;
      @extend .fl;

      &:after{
        @extend .clearfix-after;
      }
    }

    .value{
      @extend .fl;
      @include flexbox-child;
      overflow: visible;

      &:after{
        @extend .clearfix-after;
      }
    }
  }

  .icon-enter{
    height: rem(212px);
    position: absolute;
    right: rem(20px);
    top: 0;
  }
}

.doctor-evaluate.view-list{
  .view-item{
    .name{
      color:black;
    }

    .value{
      position: relative;

      .evaluate{
        @extend .fl;
        position: absolute;
        top:rem(2px) * -1;

        &:after{
          @extend .clearfix-after;
        }

        .icon{
          @extend .fl;
          margin-right: rem(15px);
          width: rem(46px);
          height: rem(40px);

          &:after{
            @extend .clearfix-after;
          }
        }
      }

    }
  }

  .evaluate-tag{
    @extend .fl;
    margin: rem(5px) 0  0 rem(160px);

    &:after{
      @extend .clearfix-after;
    }

    .tag-item{
      @include vertical-center(rem(40px));
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: rem(5px);
      font-size: rem(24px);
      @extend .mr10;
      @extend .mt20;
      @extend .fl;

      &:after{
        @extend .clearfix-after;
      }

      &.orange{
        border: 1px solid $orange;
        color: $orange;
      }

      .item-content{
        @extend .fl;

        &:after{
          @extend .clearfix-after;
        }
      }

      .icon{
        @extend .fl;
        width: rem(24px);
        height: rem(40px);
        @extend .ml10;

        &:after{
          @extend .clearfix-after;
        }
      }

      .icon-thumb{
        @extend .icon-grey-thumb;
      }

      &.orange .icon-thumb{
        @extend .icon-yellow-thumb;
      }
    }
  }
}

.view-registerList{
  padding-bottom: rem(108px);
}

.view-register-list{

  .realtime-msg{
    position: absolute;
    right: rem(20px);
    bottom: rem(20px);
    @extend .fc-grey;
  }

  .btn{
    width: rem(80px);
    @include vertical-center(rem(40px));
    position: absolute;
    right: rem(20px);
    bottom: rem(20px);
    box-sizing: border-box;
    border-radius: rem(5px);
    border: 1px solid $green;
    color:$green;
    text-align: center;
  }
}

.black-list-tips{
  @extend .fz24;
  position: relative;

  .icon.icon-yellow-exclamation {
    width: initial;
    text-indent: rem(40px);
    padding: rem(20px);
    float: left;
    background-position: rem(20px);
    color: $orange;
  }

  .content{
    @extend .fc-grey;
    float: left;
    padding: 0 rem(20px);
    width: initial;
    text-indent: rem(48px);
    line-height: rem(40px);
  }

  .content>div{
    margin-bottom: rem(20px);
    float: left;
    text-align: justify;


  }

  .icon-enter {
    position: absolute;
    right: rem(20px);
    top: rem(100px);
    height: .5rem;
    @extend .p20;
    background-position: center center;
    margin: 0;
  }

}


.icon-enter.up{
  transform: rotate(270deg);
}

.icon-enter.down{
  transform: rotate(90deg);
}

.view-register-list .view-list {
  float: none;
}
