.notice{
    padding: 0;
    .view-item{
        position: relative;
        margin-top: 0;
        display: block;
        height: rem(150px);
        line-height: rem(150px);

        h4{
            height: auto;
            @extend .fw-normal;
        }
        h5{
            line-height: rem(41px);
            @extend .fw-normal;
        }
        .time{
            height: auto;
            line-height: rem(26px);
            position: absolute;
            right: rem(20px);
            bottom: rem(15px);
            overflow: hidden;
            @extend .fw-normal;
        }
    }

    .notice-header{
      min-height: rem(105px);

      .notice-title{
        font-size: rem(40px);
        line-height: rem(40px);
        padding: rem(20px) rem(20px) 0;
      }

      .notice-time{
        font-size: rem(25px);
        line-height: rem(30px);
        text-align: right;
        margin: rem(15px) rem(20px) 0;
        border-bottom: 1px solid #a0a0a0;
        @extend .fc-grey;
      }

      &:after{
        width: 100%;
        height: 1px;
        padding: 0 rem(20px);
        content: " ";
      }
    }

    .notice-content{
      padding: 0;
      margin: rem(20px);

      & *{
        padding: 0;
        margin: 0;
      }
    }
}
