div.search{
  @extend .bg-white;
  @include flexbox-parent();
}

div.search:before{
  display: block;
  content: " ";
  margin:0 rem(20px) 0 rem(20px);
  @extend .icon-search;
}

.searchInput{
  @include vertical-center(rem(88px));
  @extend .fz30;
  @include flexbox-child;
}

.view-departChoice{

  .depart-warning{
    font-size:rem(26px);
    @include vertical-center(50px);
    color:$orange;
    @extend .pl20;

    &>span{
      @extend .fl;

      &:after{
        @extend .clearfix-after;
      }
    }

    .icon-expert{
      height:rem(50px);
      @extend .fl;
    }
  }
}
.view-register{
  .serach-container{
    padding: rem(15px) 0;
    @include flexbox-child;

    .search{
      border-radius: rem(5px);

      &:before{
        margin:0 rem(10px);
        background-size: rem(40px);
      }

      .searchInput{
        @include  vertical-center(rem(48px));
        font-size: rem(26px);
      }
    }
  }
}

.title{
  @include vertical-center(rem(60px));
  @extend .fz30;

  .icon-hospital-search{
    width: rem(50px);
  }

  .icon{
    height: inherit;
    @extend .pr20;
    @extend .fl;

    &:after{
      @extend .clearfix-after;
    }
  }

  .content{
    @extend .fz30;
    @extend .fl;
    line-height: rem(60px);

    &:after{
      @extend .clearfix-after;
    }
  }

  .treatment{
    @extend .fr;
    color: $green;
  }
}

ul.hospital li{
  height: rem(105px);
  position: relative;
  border-bottom: 1px solid #ccc;
  @extend .bg-white;

  img{
    margin:rem((105px - 50px)/2) rem(20px);
    width:rem(50px);
    height: rem(50px);
  }

  div.icon-enter{
    height: inherit;
    position: absolute;
    top: 0px;
    right: rem(20px);
  }

  .hospital-info>div{
    @extend .ellipsis;
    max-width: 8rem;
  }
}

.serach-container{
  padding: rem(15px);
  @extend .bg-white;

  .search{
    border: 1px solid #ccc;
    border-radius: rem(15px);
    padding: rem(5px);

    .searchInput{
      @include vertical-center(rem(75px));
    }
  }
}

.depart-choice-pos{
  // height: rem(991px);
  // position: absolute;
  // top:rem(205px);
  // bottom: 0;
}

.depart-choice-height{
  height: rem(911px);
}
.depart-choice{
  @extend .depart-choice-height;
  background: #f4f4f4;
  font-size: rem(30px);
  border-top: 1px solid #ccc;
  box-sizing: border-box;

  .departType-list{
    width: 41%;
    @extend .depart-choice-height;
    @extend .bg-white;
    @extend .fl;
    overflow-y: scroll;

    &:after{
      @extend .clearfix-after;
    }

    .departType-item{
      @include  vertical-center(rem(88px));
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      position: relative;

      &.active{


        .green{
          position: absolute;
          width: rem(10px);
          height: 100%;
          background: $green;
        }
      }

      .content{
        text-align: center;
      }
    }
  }

  .depart-list{
    width: 59%;
    @extend .depart-choice-height;
    @extend .fl;
    overflow-y: scroll;
    left: 41%;

    &:after{
      @extend .clearfix-after;
    }

    .depart-item{
      width: 100%;
      @include  vertical-center(rem(88px));
      box-sizing: border-box;
      padding-left: rem(32px);
      @extend .fl;
      overflow: hidden;
      position: relative;
      :after{
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        position: absolute;
        background: #ccc;
        left: rem(20px);
        bottom: 0;
      }

      .content{
        @extend .fl;
        @extend .ellipsis;
        max-width: rem(280px);
      }
      &.active .icon-expert{
        height: rem(88px);
        @extend .fl;
        margin-left:rem(10px);
      }
    }
  }
}

.n-source{
  width: rem(150px);
  @include vertical-center(rem(50px));
  font-size: rem(30px);
  @extend .bg-white;
  color: $green;
  border: 1px solid $green;
  position: absolute;
  top:rem((88px-50px)/2);
}

.n-source.realtime{
  border-radius: rem(10px) 0 0 rem(10px);
  border-right: none;
  right: 50%;
}

.n-source.expert{
  border-radius: 0 rem(10px) rem(10px) 0;
  border-left: none;
  left:50%;
}

.n-source.grey {
    color: #ccc;
    border: 1px solid #ccc;
}

.n-source.active{
  background: $green;
  color: white;
}

.source-title{
  @include vertical-center(rem(80px));
  padding-left: rem(20px);
  font-size: rem(30px);
  @extend .bg-white;
  @extend .ellipsis;
}




.msg-tips{
  @extend .mt10;
  padding: 0 rem(20px) 0 rem(62px);
  position: relative;
  color: #666;

  .icon{
    height: rem(32px);
    position: absolute;
    top: rem(5px);
    left: rem(20px);
  }

  .content{
    font-size: rem(24px);
    line-height: rem(40px);
  }
}

.source-realtime{
  @extend .bg-white;
  // @extend .fl;
  // overflow: hidden;
  border-top: 1px solid #ccc;

  &:after{
    @extend .clearfix-after;
  }

  .head{

    color:$grey;
    margin: rem(20px) 0 0 rem(20px);
    @extend .fl;
    @extend .fz30;

    &:after{
      @extend .clearfix-after;
    }
  }

  .realtime-list{
    width: 100%;
    @extend .fl;
    border-bottom: 1px solid #ccc;

    &:after{
      @extend .clearfix-after;
    }

    .realtime-item{
      width: 100%;
      position: relative;
      @extend .fl;

      &:after{
        @extend .clearfix-after;
      }

      .item-body{
        padding: rem(20px) 0 rem(20px) rem(20px);
        position: relative;
        @extend .fz30;
        @extend .fl;

        &:after{
          @extend .clearfix-after;
        }
      }

      .item-body:after{
        content: " ";
        width: 100%;
        height: 1px;
        display: block;
        border-bottom: 1px dashed #cbcbcb;
        position: absolute;
        bottom: 0;
      }

      .register{
        width: rem(110px);
        @include vertical-center(rem(55px));
        @extend .text-center;
        position: absolute;
        right: rem(20px);
        top:rem(5px);
        color: $green;
        border:1px solid $green;
        border-radius: rem(10px);
        font-size: rem(30px);
      }

      .register.grey{
        color: $grey;
        border:1px solid $grey;
      }
    }

    .realtime-item:last-child .item-body:after{
      content: "";
      border: none;
    }
  }

  .date{
    width: rem(180px);
    @extend .fl;
    @extend .text-center;

    &:after{
      @extend .clearfix-after;
    }
  }

  .allNum{
    width: rem(135px);
    @extend .fl;
    @extend .text-center;

    &:after{
      @extend .clearfix-after;
    }
  }

  .leaveNum{
    @extend .allNum;
    @extend .fl;

    &:after{
      @extend .clearfix-after;
    }
  }

  .leaveNum.red{
    color: red;
  }

  .leaveNum.grey{
    color:$grey;
  }
}

.view:after{
  content:" ";
  height:0;
  clear:both;
  visibility:hidden;
  display:block;
}

.register-sure-date{
  height: rem(88px);
  @extend .bg-white;

  &>span{
    @include vertical-center(rem(88px));
    font-size: rem(30px);
    text-align: center;
    @extend .fl;
  }

  .date{
    @extend .pl20;
    width: rem(140px);
  }

  .m{
    width: rem(110px);
  }

  .time{
    width: rem(350px);
  }
}

.add-treatment-people{
  height: rem(103px);
  @extend .bg-white;
  width: 100%;
  text-align: center;
  @extend .fl;

  &:after{
    @extend .clearfix-after;
  }


  .btn{
    @include vertical-center(rem(63px));
    width: rem(240px);
    margin: rem(20px) auto;
    font-size: rem(30px);
    border: 1px solid $green;
    border-radius: rem(5px);
    color: $green;
  }
}

.yellow-trip{
  padding: 0 rem(20px);
  font-size: rem(24px);
  line-height: rem(40px);
  text-align: justify;
  color: $orange;
}


message{
  position: fixed;
  bottom: rem(100px);
  width: 88%;
  @include vertical-center(50px);
  margin: 0 6%;
  color: white;
  background: #6b6b6b;
  font-size: rem(30px);
  text-align: center;
  @extend .ellipsis;
  z-index: 99999;
}

.treatment-container{
  position: relative;
  overflow:hidden;
  @extend .fl;


  &:after{
    @extend .clearfix-after;
  }

  .del{
    position: absolute;
    top: 0;
    right: 0;
    width: rem(130px);
    @include vertical-center(210px);
    text-align: center;
    font-size: rem(38px);
    color: white;
    background: red;
  }
}

.view .view-search{
  h5{
    font-weight: 100;
  }

  li.table-view-cell{
    font-size: rem(30px);

    &>label{
      font-size: rem(26px);
    }

    &>label:first-child{
      font-size: rem(30px);
    }
  }
}

.view-register{
  .hospital{
    padding-bottom: rem(100px);
  }

  .bubble {
			position: absolute;
			padding: rem(15px);
			margin: rem(16px) 0 rem(48px);
			width: rem(220px);
			line-height: 1.2;
			text-align: center;
			color: #fff;
			background: black;
			border-radius: rem(5px);
			opacity: .7;
      right: rem(10px);
      top:rem(60px);
      z-index: $top-zindex;
      display: none;

      &.active{
        display: block;
      }

      &:after {
  	    content: "\00a0";
    		width: 0;
    		height: 0;
    		display: block;
    		border-style: solid;
    		border-width: 15px;
    		border-color: transparent transparent #000 transparent;
    		position: absolute;
    		z-index: -1;
    		top: -1 * rem(30px);
    		right: rem(15px);
    	}

      h4 {
				display: block;
				margin-left: 0;
        @include vertical-center(rem(60px));
        font-weight: normal;
			}
			img{
			    width : rem(38px);
			    height: rem(30px);
				  margin: rem(15px);
			}
	 }

}

.help-list{

  .list-content{
    padding:0 rem(20px);
  }


}


.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: height .3s ease
}

.schedule-info{
  @extend .bg-white;

  .schedule-table{
    padding: rem(20px);
    height: rem(210px);
    overflow: hidden;
    @include flexbox-parent;

    .schedule-head{
      @extend .fl;
      .column{
        border-left: 1px solid #ccc;
      }
    }

    .schedule-body{
      @extend .fl;
      @include flexbox-child(1);
      overflow-x: scroll;
    }

    .column{
      border-right: 1px solid #ccc;
      box-sizing: border-box;
      width: rem(150px);
      @extend .fl;
    }

    .row{
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      @include vertical-center(rem(70px));
      text-align: center;
      font-size: rem(24px);
    }

    .row.active{
    	color:$green;
    	border:2px solid $green;
    }

    .row:first-child{
      border-top: 1px solid #ccc;
    }
  }
}

.view-list{
  .doc-info{


    img{
      width: rem(65px);
      height: rem(65px);
      border: 1px solid #ccc;
      border-radius: rem(32.5px);

      @extend .fl;
    }

    div{
      margin-top: rem(20px);
      @extend .fl;
    }
  }
}


.div1{
	/*font-size: 30px;*/
	font-size: .46875rem;
}
	.period-con {
		position: fixed;
		height:rem(300px);
		bottom:0;
		width:100%;
		z-index:9999;
	}
	.icon-close1{
		/*background-position-x: 20px;*/
		background-position-x: .3125rem;
		position: absolute;
		height: inherit;
	}
	.div2{
		/*height: 200px;*/
		height: 3.125rem;
		overflow: scroll;
	}


.view .slider-slides>li>img, .view .slider-slides>li>a>img{
  width: 100%;
  height: rem(281px);
}
