<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菏泽医疗</title>
    <#include "../ftl/style.ftl"/>

</head>
<body>
    <#include "../ftl/titleBar.ftl"/>
    <#include "../ftl/util.ftl"/>
    <div class="mt88">
        <!--banner横幅广告-->
        <div class="banner w h280 ovh mb15">
            <div class="banner-item">
                <img class="w" src="/web/img/banner.png" alt="横幅广告" />
            </div>
        </div>
        <form id="form" action="/reg/pools" method="get" onsubmit="return chkform();" >
            <!--医院选择-->

            <div class="bdt fz28  w hht88 bg-white txt-ellipsis icon-hospital-search <@EmptyColor value='${hosp.name}'/>">
                <span class="ml90">${hosp.name!"请选择医院"}</span>
                <span class="fr mr20 dp-inlb h icon-enter" ></span>
            </div>
            <input id="hospId" name="hospId" type="hidden" value="${hosp.hospitalId!''}" >
            <!--选择科室-->
            <div id="depart" class="bdt fz28 w hht88 bg-white txt-ellipsis icon-keshi bdb <@EmptyColor value='${dept.name!\'\'}'/>">
                <span class="ml90 "><@DefaultVal value="${dept.name!''}" defaultVal="请选择科室"/></span>
                <span class="fr mr20 dp-inlb h icon-enter" style="width: 0.265625rem;"></span>
            </div>
            <input id="deptId"   name="deptId"    type="hidden" value="${dept.deptId!''}" >
            <!--医师查询-->
            <h1>
                <div id="query" class="mlr20 fc-white fz30 item-search hht88 mt60 bdr-5 bg-cyan tc">查询</div>
            </h1>

        </form>
    </div>
</body>
<#include "../ftl/js.ftl"/>
<script>

    $(function(){
//                alert(window.web2ciciClient.toString());
        const uid = "${uid!''}";
        $("#header-left").click(function(){
//            alert(window.web2ciciClient.toString());
            try{
                window.web2ciciClient.webClose();
            }catch (e){}

            return false;
        });

        $("#header-right").click(function(){
//            var isJump = false;
            var self = this;
            try{
                checkLogin(function(resp){
//                    alert(JSON.stringify(resp));
                    if(resp.resultCode){
                        requestLogin(function(){
                            window.location.href = $(self).attr("href");
                        });
                    }else{
                        window.location.href = $(self).attr("href");
                    }
                });
            }catch (e){

            }

            return false;
        });

        $("#query").click(function(){
            $("#form").submit();
        });

        $("#depart").click(function(){
            location.href = "/reg/depart?hospId="+ $.trim($("#hospId").val())
                    +"&deptId="+ $.trim($("#deptId").val());

        });


        if(window.web2ciciClient && window.web2ciciClient.getAppUinfo){
            var json = window.web2ciciClient.getAppUinfo() || "{uid:''}";
//            alert("验证登录"+json);
            eval("user="+json);
//            alert("getAppUinfo|"+JSON.stringify(user));
            if(user.uid != undefined && user.uid != null && user.uid !="" && !isNaN(user.uid*1) && user.uid*1 > 0){//登录
//                alert("开始登录");
                if(uid != user.uid) {
                    doLogin(json);
                }
            }else{//取消登录
//                alert("注销");
                doLogin("{uid:''}");
            }
        }else{
//            doLogin("{uid:'3'}");
//            alert("无法调用window.web2ciciClient.getAppUinfo");
//            alert(window.web2ciciClient.getAppUinfo());
        }

    });

    function chkform(){
        var deptId = $.trim($("#deptId").val());

        if(deptId ==""){
            _alert("请选择科室");
            return false;
        }

        return true;
    }

</script>
</html>