<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>号源选择</title>
  <!--公共样式-->
  <#include "../ftl/style.ftl"/>
</head>
<body>
<#include "../ftl/util.ftl"/>
<!--标题栏-->
<#include "../ftl/titleBar.ftl"/>
<div class="mt15 bg-white bd bdr-10 mlr10 mt103">
  <div class="hht60 fz28 ml20">
    可预约班次
  </div>
  <div class="">
    <#include "../ftl/reg/pool.ftl"/>
  </div>
</div>
</body>
<!--公共js-->
<#include "../ftl/js.ftl"/>
<script>
  $(function(){

    $("[rBASId]").on("click",function(){
      var $this  = $(this);
      var rBASId = $this.attr("rBASId");
      var date   = $this.parent(".schedule").find("#time").html();
      window.location.href = "/reg/doReg"+location.search+"&rBASId="+rBASId+"&date="+date;
    });
  });
</script>
</html>