<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <!--公共样式-->
  <#include "../ftl/style.ftl"/>
</head>
<body>
  <!--标题栏-->
  <#include "../ftl/titleBar.ftl"/>
  <div class="container mt88">
    <div class="fz28 fc-cyan hht70 pr ">
      <div class="pl60 icon-iconfont-icongou w">
        您已成功预约本次挂号服务，谢谢使用。
      </div>
    </div>
    <div class="pr item-choice w bg-white pr bdtb ">
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">医&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院：</label>
        <span class="fz26 txt-ellipsis">${hospName!''}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">挂&nbsp;&nbsp;号&nbsp;&nbsp;人：</label>
        <span class="fz26 txt-ellipsis">${patientName!''}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室：</label>
        <span class="fz26 txt-ellipsis">${deptName!''}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">预约日期：</label>
        <span class="fz26 txt-ellipsis">${date!""}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">就诊位置：</label>
        <span class="fz26">${address!""}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">就诊时段：</label>
        <span class="fz26">${admitRange!""}</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">挂&nbsp;&nbsp;号&nbsp;&nbsp;费：</label>
        <span class="fz26">${regFee!"0.00"}元</span>
      </div>
      <div class="txt-ellipsis ml20 fz28 hht50">
        <label class="fc-grey">手&nbsp;&nbsp;续&nbsp;&nbsp;费：</label>
        <span class="fz26">${serviceFee!"0.00"}元</span>
      </div>
    </div>

    <a href="/reg"><div class="hht88 bg-white mt15 fz30 fc-cyan tc bdtb">
      完成
    </div></a>
  </div>
</body>
</html>