.popup{
    margin: rem(100px) auto;
    width: rem(460px);
    background-color: white;
    border-radius: rem(13px);
    .popup-inner{
        position: relative;
        padding: rem(15px) rem(55px);
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        .popup-text{
            text-align: center;
            font-size: rem(26px);
            line-height: rem(50px);
        }
    }
    .popup-buttons{
        height: rem(80px);
        .popup-button{
            box-sizing: border-box;
            display: inline-block;
            line-height: rem(80px);
            width: 50%;
            text-align: center;
            font-size: rem(30px);
            color: #007cff;
        }
    }
}
.popup-1{
    @extend .popup;
    .popup-inner{
        .popup-text{
        }
    }
    .popup-buttons{
        .popup-button{
            width: 100%;
        }
    }
}

.popup-2{
    @extend .popup;
    .popup-inner{
        .popup-text{
        }
    }
    .popup-buttons{
        .popup-button{
            float: left;
            width: 50%;
        }
    }
}
