.view-search .table-view-search .table-view-cell label{
  line-height: rem(80px);
}

.view-search{

  .item-body{
    font-size: rem(28px);
    @extend .pl20;
    display: flex;

    &>span{
      @extend .fl;
      @extend .ellipsis;
    }

    .doctorName{
      max-width: rem(130px);
      min-width: rem(130px);
    }

    .departName{
      max-width: rem(180px);
      min-width: rem(180px);
      @extend .fc-grey;
      font-size: rem(26px);
    }

    .hospName{
      max-width: rem(280px);
      min-width: rem(280px);
      @extend .fc-grey;
      font-size: rem(26px);
    }
  }
}
.search-bar{
    height: rem(88px);
    background-color: white;
    border-bottom: 1px solid #ccc;
    .search{
        display: inline-block;
        width: rem(500px);
        height: rem(65px);
        line-height: rem(65px);
        margin:rem(12px) 0 rem(12px) rem(20px);
        border-radius: 5px;
        font-size: rem(30px);
        background: url(../img/icons/search.png) rem(14px) center no-repeat;
        background-size: rem(48px);
        background-color: $bgc;
        .input-search{
            margin-left: rem((20+48+12) * 1px);
            border: 0;
            background-color: inherit;
            font-size: rem(30px);
            width: rem((500-20-48-12) * 1px)
        }
    }
}

.hospital-message{
  height: rem(88px);
  border-bottom: 1px solid #ccc;

  &>span{
    line-height: rem(88px);
  }
}
.cancel-search{
    display: inline-block;
    padding-left: rem(20px);
    width: rem(90px);
    height: inherit;
    line-height: rem(90px);
    font-size: rem(30px);
    color: $green;
}
.table-view-search{
    background-color: white;
    .table-view-cell{
        border-bottom: rem(1px) solid #ccc;
        @extend .pl20;
        label{
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        height: rem(80px);
        line-height: rem(80px);
        .con1{
            min-width: rem(155px);
        }
        .con2{
            width: rem(140px);
        }
    }
}
.fc-green.ht80.h4{
    border-bottom: 1px solid #bbb;
}
.search-count{
    font-size: rem(24px);
    margin-right: rem(20px);
    color: #000000;
}
