<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
	</head>
	<body>
		<div class="bg-white w-875 bdr-10 fz28 tc">
			<div class="mhht100 bdb">
				确定取消本次挂号？
			</div>
			<div class="hht80 fc-blue">
				<div class="fl w-50 bdr">
					取消
				</div>
				<div class="fl w-50">
					确定
				</div>
			</div>
		</div>
	</body>
</html>
