<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加挂号人</title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
	</head>
	<body>
		
		<div class="txt-ellipsis pr item-choice w hht140 bg-white pr mt15">
			<div class="ml20 fz30 hht70 w500">
				<label class="fc-grey">姓&emsp;名：</label>
				<span class="fz28">刘强</span>
			</div>
			<div class="txt-ellipsis ml20 fz30 hht70">
				<label class="fc-grey">身份证：</label>
				<span class="fz28">3208090197891250051</span>
			</div>
			<span class="fr r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>
		</div>
		<div class="pr item-choice w hht140 bg-white pr mt15">
			<div class="ml20 fz30 hht70">
				<label class="fc-grey">姓&emsp;名：</label>
				<span class="fz28">刘强</span>
			</div>
			<div class="txt-ellipsis ml20 fz30 hht70">
				<label class="fc-grey">身份证：</label>
				<span class="fz28">3208090197891250051</span>
			</div>
			<span class="r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>
		</div>
		<h1><a href="挂号人.html">返回挂号人</a></h1>
	</body>
</html>
