<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
		<style type="text/css">
			.item-choice div{
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<header class="header">
			<a href="" class="fl p10 bd">返回</a>
			<div class="header-title w240 txt-ellipsis flex-1">检验单查询</div>
			<div class="fr p10 bd">我的</div>
		</header>
		<div class="banner bd w h185 ovh">
			<div class="banner-item">
				<img class="w" src="" alt="横幅广告"/>
			</div>
		</div>
		<div class="item-choice w h50 mt30 bdr-5 bg-white  bd ">
			<div class="w65 h bg-grey">
				医院
			</div>
			<div class="">
				xxx医院
			</div>
		</div>
		<div class="item-choice w h50 mt30 bdr-5 bg-white bd">
			<div class="w65 h bg-grey">
				科室
			</div>
			<div class="">
				点击选择科室
			</div>
		</div>
		<div class="item-search w h50 mt60 bdr-5 bd">
			医师查询
		</div>
	</body>
</html>
