<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
	</head>
	<body>
		<div class=" bg-white pr bdtb mt15">
			<div class="txt-ellipsis ml20 fz28 hht50">
				<label class="fc-grey">医&emsp;&emsp;院：</label>
				<span class="fz26 txt-ellipsis">菏泽市第一人民医院</span>
			</div>
			<div class="txt-ellipsis ml20 fz28 hht50">
				<label class="fc-grey">科&emsp;&emsp;室：</label>
				<span class="fz26 txt-ellipsis">神经外科</span>
			</div>
			<div class="txt-ellipsis ml20 fz28 hht50">
				<label class="fc-grey">预约时间：</label>
				<span class="fz26 txt-ellipsis">10:00-11:00</span>
			</div>
			<div class="txt-ellipsis ml20 fz28 hht50">
				<label class="fc-grey">就诊位置：</label>
				<span class="fz26 txt-ellipsis">市一院3号楼5层302室</span>
			</div>
		</div>
		<div class=" fz28 bdb bg-white mt15 txt-ellipsis">
			<div class=" bdb hht60 pr">
				<label class="ml20">添加挂号人</label>
				<span class="fr r10 pa t0 p10"><img src="../../img/icons/iconfont-jiahao.png"/></span>
			</div>
			<div class="ml20 fz28 hht70 bdb txt-ellipsis">
				<label class="fc-grey">姓&emsp;名：</label>
				<span class="fz26 txt-ellipsis">顾民</span>
			</div>
			<div class="ml20 fz28 hht70 bdb txt-ellipsis">
				<label class="fc-grey">卡&emsp;号：</label>
				<span class="fz26 ">38123123123123</span>
			</div>
			<div class="ml20 fz28 hht70 bdb txt-ellipsis">
				<label class="fc-grey">身份证：</label>
				<span class="fz26 txt-ellipsis">320123123123123</span>
			</div>
			<div class="ml20 fz28 hht70 txt-ellipsis">
				<label class="fc-grey">手&emsp;机：</label>
				<span class="fz26 ">18120000000</span>
			</div>
		</div>
		<div class="hht88 bg-white mt15 fz30 fc-cyan tc bdtb">
			提交
		</div>
		<h1><a href="常用挂号人.html">添加挂号人</a></h1>
		<h1><a href="挂号成功.html">挂号成功</a></h1>
	</body>
</html>
