<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
		<style type="text/css">
			.item-choice div {
				display: inline-block;
			}
		</style>
	</head>

	<body>
		<header class="header">
			<a href="" class="fl plr20"><img src="../../img/icons/back.png" /></a>
			<div class="header-title txt-ellipsis flex-1">医疗挂号</div>
			<a href="" class="fr plr20 mtb10"><img src="../../img/icons/icontouxiang.png" /></a>
		</header>
		<div class="banner w h280 ovh">
			<div class="banner-item">
				<img class="w" src="../../img/banner.png" alt="横幅广告" />
			</div>
		</div>
		<div class="fl fz28 fc-ccc item-choice w hht88 mt15 bg-white bdt pr txt-ellipsis">
			<span class="fl ml20 mt10"><img class="" src="../../img/icons/hospital-search.png" /></span>
			<span class="ml20 ">
				请选择需要就医的医院
			</span>
			<span class="r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>
		</div>

		<div class="fc-ccc fz28 item-choice w hht88 bg-white bd pr txt-ellipsis">
			<span class="fl ml20"><img class="mt10" src="../../img/icons/iconkeshi.png" /></span>
			<span class="ml15">
				请选择需要就医的医生
			</span>
			<span class="r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>

		</div>
		<div class="mlr20 fc-white fz30 item-search hht88 mt60 bdr-5 bg-cyan tc">
			医师查询
		</div>
		
		<h1><a href="挂号.html">医生选择</a></h1>
	</body>

</html>