<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
		<style type="text/css">
			.item-choice div {
				display: inline-block;
			}
		</style>
	</head>

	<body>
		<header class="header">
			<a href="" class="fl plr20"><img src="../../img/icons/back.png" /></a>
			<div class="header-title txt-ellipsis flex-1">医疗挂号</div>
			<a href="" class="fr plr20 mtb10"><img src="../../img/icons/iconfont-touxiang.png" /></a>
		</header>
		<div class="banner w h280 ovh">
			<div class="banner-item">
				<img class="w" src="../../img/banner.png" alt="横幅广告" />
			</div>
		</div>
		<div class="item-choice w hht88 mt15 bg-white bd pr">
			<img class=" fl mt20 ml20 w60" src="../../img/icons/hospital-search.png" />
			<div class="ml20 fl fz28 fc-ccc txt-ellipsis w480">
				请选择需要就医的医院11111111111111
			</div>
			<span class="r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>
		</div>

		<div class="item-choice w hht88 mt-1 bg-white bd pr">
			<img class=" fl mt30 ml30 w30" src="../../img/icons/list.png" />
			<div class="ml37 fl fz28 fc-ccc txt-ellipsis w480">
				请选择需要就医的医生11111111111111
			</div>
			<span class="r20 pa t0"><img class="" src="../../img/icons/enter.png" /></span>

		</div>
		<div class="mlr w600 fc-white fz30 item-search hht88 mt60 bdr-5 bg-cyan tc">
			医师查询
		</div>
	</body>

</html>