<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
	</head>

	<body>
		<div class=" fz28 bdb bg-white mt15 txt-ellipsis">
			<div class=" bdb hht60 pr">
				<label class="ml20">添加挂号人</label>
				<a class="dp-inlb icon-iconfont-jiahao h fr pr20" href="常用挂号人.html"></a>
			</div>
			<div class="ml20 fz28 hht70 bdb txt-ellipsis">
				<label class="fc-grey">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
				<input type="text" name="" id="" value="" placeholder="请输入姓名" />
			</div>

			<div class="ml20 fz28 hht70 bdb txt-ellipsis">
				<label class="fc-grey">身份证：</label>
				<input type="text" name="" id="" value="" placeholder="请输入身份证号" />
			</div>
			<div class="ml20 fz28 hht70 txt-ellipsis">
				<label class="fc-grey">手&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
				<input type="text" name="" id="" value="" placeholder="请输入手机号" />
			</div>
			<div class="ml20 fz28 hht70 bdt txt-ellipsis">
				<label class="fc-grey">卡&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
				<input type="text" name="" id="" value="" placeholder="请输入卡号" />
			</div>
			<div class="ml20 fz28  bdt txt-ellipsis ptb20 ">
				<label class="fc-grey">就诊类型：</label>
				<input type="radio" name="city" value="0" />自费&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="city" value="1" />市民卡
			</div>
		</div>
		<a href="">
			<div class="mlr20 fc-white fz30 item-search hht88 mt60 bdr-5 bg-cyan tc">
				添加
			</div>
		</a>
	</body>

</html>