<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
	</head>

	<body>
		<div class="bg bd bdr-10 mlr10">
			<div class="hht60 fz28 ml20">
				可预约班次
			</div>
			<div class="">
				<div class="txt-ellipsis hht88 pr fc-grey bdt">
					<label class=" ml20 dp-inlb w-20 txt-ellipsis fz26">2016-03-14</label>
					<label class="ml20 dp-inlb w-15 txt-ellipsis fz26">星期一</label>
					<label class="dp-inlb w-15 txt-ellipsis fz26">今天</label>
					<label class="dp-inlb w-1875 txt-ellipsis fz26">剩余
						<label for="">99</label>
					</label>
					<span class="mtb20 dp-inlb w-15 "><div class="w110 fr bdr-5 bd-cyan tc fz26 fc-cyan hht50 ">预约</div></span>
				</div>
				<div class="txt-ellipsis hht88 pr fc-grey bdt">
					<label class=" ml20 dp-inlb w-20 txt-ellipsis fz26">2016-03-14</label>
					<label class="ml20 dp-inlb w-15 txt-ellipsis fz26">星期一</label>
					<label class="dp-inlb w-15 txt-ellipsis fz26">今天</label>
					<label class="dp-inlb w-1875 txt-ellipsis fz26">剩余
						<label for="">99</label>
					</label>
					<span class="mtb20 dp-inlb w-15 "><div class="w110 fr bdr-5 bd-cyan tc fz26 fc-cyan hht50 ">预约</div></span>
				</div>
				<div class="txt-ellipsis hht88 pr fc-grey bdt">
					<label class=" ml20 dp-inlb w-20 txt-ellipsis fz26">2016-03-14</label>
					<label class="ml20 dp-inlb w-15 txt-ellipsis fz26">星期一</label>
					<label class="dp-inlb w-15 txt-ellipsis fz26">今天</label>
					<label class="dp-inlb w-1875 txt-ellipsis fz26">剩余
						<label for="">99</label>
					</label>
					<span class="mtb20 dp-inlb w-15 "><div class="w110 fr bdr-5 bd-cyan tc fz26 fc-cyan hht50 ">预约</div></span>
				</div>

			</div>
		</div>
	</body>

</html>