h4{
    margin-left: rem(20px);
    font-size: rem(30px);
}
h5 {
  margin-left: rem(20px);
  line-height: rem(60px);
  font-size: rem(28px);
  color: #9fa2a4;
}
.mask{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 1100;
  opacity: 0;
}

.h4{
    display: block;
    padding-left: rem(20px);
    font-size: rem(30px);
}
.h5 {
  margin-left: rem(20px);
  line-height: rem(60px);
  font-size: rem(28px);
  color: #9fa2a4;
}
.ht60{
    height: rem(60px);
    line-height: rem(60px);
}
.ht65{
    height: rem(65px);
    line-height: rem(65px);
}
.ht70{
    height: rem(70px);
    line-height: rem(70px);
}
.lht60{
    line-height: rem(60px);
}
.ht80{
    height: rem(80px);
    line-height: rem(80px);
}

.ht88{
    height: rem(88px);
    line-height: rem(88px);
}
.ht100{
    height: rem(100px);
    line-height: rem(100px);
}
.fl{
  float: left;
}

.clearfix-after{
  width: 0;
  height: 0;
  content: " ";
  clear: both;
  display: block;
}

.fr{
  float: right;
}

.cl{
  clear: both;
}

.full-width{
  width: 100%;
}
.text-center{
  text-align: center;
}
.ps-relative{
  position: relative;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.justify{
  text-align: justify;
  text-align-last:justify;
}
.justify-after{
  display:inline-block;
  overflow:hidden;
  width:100%;
  height:0;
  content:'';
  vertical-align:top;
}

.fixed-top{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 999;
}

.fixed-bottom{
  position: fixed;
  bottom:0;
  left: 0;
}

.none{
  display: none;
}

.hidden{
  visibility: hidden;
}

.mgr-center{
  margin: 0 auto;
}

.border-box{
  box-sizing: border-box;
}
.bg-white{
  background: white;
}
.fc-white{
  color: white;
}
.fc-grey{
  color: $fc-ciyao;
}

.fc-grey2{
  color: #666;
}

.fc-red{
  color: red;
}
.fc-green{
  color: $green;
}

@mixin fz($num) {
  .fz#{$num}{
    font-size: rem($num *1px);
    line-height: rem($num *1px);
  }
}

@include fz(24);
@include fz(26);
@include fz(28);
@include fz(30);
@include fz(36);

// margin设置
@mixin margin($val:20) {
  .m#{$val}{
    margin:rem($val * 1px);
  }

  .ml#{$val}{
    margin-left:rem($val * 1px);
  }

  .mr#{$val}{
    margin-right:rem($val * 1px);
  }

  .mt#{$val}{
    margin-top:rem($val * 1px);
  }

  .mb#{$val}{
    margin-bottom:rem($val * 1px);
  }
}

// margin设置
@mixin padding($val:20) {
  .p#{$val}{
    padding:rem($val * 1px);
  }

  .pl#{$val}{
    padding-left:rem($val * 1px);
  }

  .pr#{$val}{
    padding-right:rem($val * 1px);
  }

  .pt#{$val}{
    padding-top:rem($val * 1px);
  }

  .pb#{$val}{
    padding-bottom:rem($val * 1px);
  }
}

@include margin(10);
@include margin(15);
@include margin(20);
@include padding(15);
@include padding(20);

@mixin border($width:1,$style:solid,$color:#eaeef2) {
  $px:$width * 1px;
  .bd#{$width}{
    border: $px $style $color;
  }

  .bdt#{$width}{
    border-top: $px $style $color;
  }

  .bdr#{$width}{
    border-right: $px $style $color;
  }

  .bdb#{$width}{
    border-bottom: $px $style $color;
  }

  .bdl#{$width}{
    border-left: $px $style $color;
  }
}
.mgl30{
    margin-left: rem(30px);
}
.mgl70{
    margin-left: rem(70px);
}

.mgt30{
    margin-top: rem(30px);
}

@include border(1);

.flex-child{
  @include flexbox-child(1);
}

.flex-child2{
  @include flexbox-child(2);
}

.fw-normal{
  font-weight:normal;
}
