@mixin icon($name) {
  $image-width:rem(image-width("icons/#{$name}.png"));
  .icon-#{$name}{
    width: $image-width;
    background: url("../img/icons/#{$name}.png") 0 center no-repeat;
    background-size:$image-width ;
  }
}



@include icon("back");
@include icon("white-back");
@include icon("black-person");
@include icon("blue-inspection");
@include icon("broadcast");
@include icon("register-list");
@include icon("close");
@include icon("calendar");
@include icon("doctor-active");
@include icon("doctor");
@include icon("enter");
@include icon("expert");
@include icon("find-active");
@include icon("find");
@include icon("green-inspection");
@include icon("guide");
@include icon("hospital-search");
@include icon("list");
@include icon("menu");
@include icon("message");
@include icon("mine-active");
@include icon("mine");
@include icon("note");
@include icon("pharmacy");
@include icon("red-person");
@include icon("register-active");
@include icon("register");
@include icon("search");
@include icon("yellow-exclamation");
@include icon("yellow-question");
@include icon("star");
@include icon("tooth");
@include icon("blood");
@include icon("brain");
@include icon("heart");
@include icon("yellow-thumb");
@include icon("grey-thumb");
@include icon("yellow-heart");
@include icon("grey-heart2");
@include icon("grey-heart");
@include icon("share");
@include icon("phone1");
@include icon("phone2");
@include icon("bubble1");
@include icon("bubble2");
@include icon("close1");
@include icon("green-inspection-report");
