// 垂直居中
@mixin vertical-center($height) {
  height:rem($height);
  line-height: rem($height);
  
}

@mixin flexbox-parent {
  display: flex;
}

@mixin flexbox-child($val:1) {
  flex: $val;
  overflow: hidden;
  white-space: nowrap;
}

@mixin horizontal-center-parent{
  position: relative;
}

@mixin horizontal-center-child($width,$height){
  width:$width;
  height:$height;
  position:absolute;
  top:50%;left:50%;
  margin-left:-1 * ($width/2);
  margin-top:-1 * ($height/2);
}

@mixin hht($height){
    height: $height;
    line-height: $height;
}

@mixin fz($fz){
    font-size: ($fz/64)*1rem;
}
